@font-face {
    font-family: 'Inter';
    src: url('../font/inter-v20-latin-regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url('../font/inter-v20-latin-500.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Inter';
    src: url('../font/inter-v20-latin-600.woff2') format('woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Inter';
    src: url('../font/inter-v20-latin-700.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Inter';
    src: url('../font/inter-v20-latin-800.woff2') format('woff2');
    font-weight: 800;
}